<html>
    <head>
        <link rel="stylesheet" hred="https://pyscript.net/alpha/pyscript.css" />
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    </head>
    <body>
        <b><p>The time is: <u><label id= 'today'></label></u></p></b>
        <br>
        <py-script>
from datetime import datetime
wake_up=input("What time would you like to wake up? (hh : mm)")
now = datetime.now()
current_time = str(now.strftime("%H : %M : %S"))
current_time = current_time[:7]
pyscript.write('today',current_time)
while (current_time!=wake_up):
    now = datetime.now()
    current_time = str(now.strftime("%H : %M : %S"))
    current_time = current_time[:7]
    pyscript.write('today',current_time)
        </py-script>
    </body>
</html>